.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared style */
body {
  /* max-width: 1440px; */
  margin: 0 auto;
  background-color: #efeffb;
}
main {
  margin: 116px 160px 0 140px;
}

.dark-3 {
  color: #757575;
}

/* Header Section */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
  /* max-width: 1440px; */
}
.logo {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.header {
  background-image: url("../Assets/Hero-bg.png");
}
.btn-primery {
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  line-height: 150%;
}

/* Header Banner Patt */
.banner {
  padding: 309px 267.5px 152px 267.5px;
  text-align: center;
  font-family: "Raleway";
  font-size: 65px;
  font-weight: 700;
}
.banner-title {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin: 0 0 37px 0;
}
/* Action Section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-profile-pic img {
  border-radius: 48px;
}
.action-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.action-content p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}
.action-content {
  max-width: 536px;
}
/* User Section */
.users-title {
  text-align: center;
}
.users-title h3 {
  font-size: 38px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.user-info-main {
  display: flex;
  justify-content: space-around;
}
.Productive-Users {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  margin-top: 116px;
  padding: 50px 142px;
}
.user-info h1 {
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  margin: 40px 0px 0px 0px;
}
.user-info {
  text-align: center;
}
.user-info p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
/* Review-card */
.review-card {
  margin-top: 116px;
  /* padding: 50px 142px; */
}
.review-heading {
  text-align: center;
  font-size: 42px;
  font-family: "Raleway", sans-serif;
  margin: 0 0 50px 0;
}
.review-box {
  width: 366px;
  height: 256px;
  background-color: white;
  border-radius: 14px;
  padding: 24px;
  border: 1px solid #ebe0e0;
}
.review-header {
  width: 250px;
  height: 94px;
}
.avater img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.avetar-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.star {
  width: 20px;
  height: 20px;
}

.review-header h4 {
  font-size: 24px;
  margin: 0;
  padding-top: 24px;
}
.review-header p {
  color: #787878;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 24px 0 37px;
}
.avetar-container {
  display: flex;
  gap: 15px;
  align-items: center;

  margin-top: 51px;
}
.reviewr-name legend {
  font-family: "Inter", sans-serif;
  color: #757575;
  font-weight: 600;
}

.reviewr-name label {
  font-family: "Inter", sans-serif;
  color: #757575;
  font-size: 17px;
}
.cards {
  display: flex;
  gap: 20px;
}
/* Focus Section */
.focus {
  background-color: white;
  margin-top: 116px;
}
.focus-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.focus-heading {
  font-size: 50px;
  font-family: "Raleway", sans-serif;

  padding: 71px 312px 0px;
  margin: 0;
}
.focus-para {
  font-family: "Raleway";
  font-size: 18px;
  color: #787878;
}

.focus-content img {
  border-radius: 48px;
}
.wc-big {
  margin: 20px 150px 71px;
}

/* Get In Touch Section */
.get-in-touch {
  display: flex;
  align-items: center;

  gap: 100px;
}
.left-side-msg {
  font-family: "Raleway", sans-serif;
  min-width: 250px;
  padding: 200px 0;
  font-size: 60px;
}
.left-side-msg h1 {
  margin: 0;
}
.get-in-touch-form {
  min-width: 500px;
}

.get-in-touch-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.get-in-touch-form input,
.get-in-touch-form textarea {
  font-family: "Inter", sans-serif;
  padding: 20px 271px 20px 32px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
}
.get-in-touch input[type="submit"] {
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 19px 201px;
  line-height: 150%;
}
/* footer  */

footer {
  max-width: 1440px;
  margin: 116px 160px 0 140px;
}
.container {
  padding: 0 0 104px 0;
}
.logo-with-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 800;
  color: #2720dd;
  margin: 0;
  padding: 0;
}

.footer-msg {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  max-width: 521px;
  margin: 20px 0;
  color: #787878;
}

.link-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
}
.link-list ul li a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #787878;
  font-size: 20px;
}
