.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

/* Shared style */
body {
  max-width: 1440px;
  margin: 0 auto;
}

.dark-3 {
  color: #757575;
}
/* shered styled end*/

/* Header Section */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
  /* max-width: 1440px; */
}
.logo {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #4e47ff;
}
.header {
  background-image: url("../Assets/Hero-bg.png");
}
.btn-primery {
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  line-height: 150%;
}

/* Header Banner Patt */
.banner {
  padding: 309px 267.5px 152px 267.5px;
  text-align: center;
  font-family: "Raleway";
  font-size: 65px;
  font-weight: 700;
}
.banner-title {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin: 0 0 37px 0;
}
/* Action Section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 160px 0 140px;
}
.banner-profile-pic img {
  border-radius: 48px;
}
.action-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.action-content p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}
.action-content {
  max-width: 536px;
}
